body {
    background-color: rgb(231, 88, 5);
    margin: 0;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container {
    padding: 3rem;
    min-width: 50%;
    border-radius: 1rem;
    border: 2px solid rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 227, 217);

  }
  

  
  .title {
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  label {
    font-weight: bold;
  }
  
 
  
 
  
  .password-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid #333;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
  }
  
  .btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid rgb(134, 123, 123);
    color: white;
    padding: .5rem 1rem;
    margin :1rem ;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
  }
  
